body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*navbar background color*/
 .navbar{
  background-color:#539fd2!important ;
 }
 .nav-link{
  color: aliceblue!important;
 }

 .navbar-brand{
  color: aliceblue !important;
  margin-left: center !important;
 }
 
 .navbar-nav{
  margin-left:auto !important ;
 }